@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    background-color: black;
    color: grey;

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
}

.prompt-text{
    color: azure;
    opacity: 75%;

    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    font-style: italic;
    
    transition: 0.2s;
}

.choice-img {
    width: 50%;
    height: 50%;

    transition: 0.1s;

    cursor: pointer;
}

.choice-img:hover {
    opacity: 50%;
    
    transform: scale(1.1);
    
    transition: 0.1s;
}

.choice-button {
    border: 0px;
    border-radius: 87.5px;

    background-color:#343434;
    
    height: 175px;
    width: 180px;

    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.move-button{
    border: 0px;
    border-radius: 87.5px;
    
    background-color:azure;
    transition: 0.2s;

    height: 215px;
    width: 215px;

    margin-right: 20px;
    margin-left: 20px;
    margin-top: 80px;
}

.move-caption{
    color: azure;

    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 100px;
    display: inline-block;
}

#user-move-caption{
    margin-left: 50px;
}

.move-img{
    width:60%;
    height:auto;
}

.reset-button {
    border: 0px;
    border-radius: 25px;

    background-color: white;
    color: #343434;
    opacity: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    font-weight: bold;

    transition: 0.4s;

    cursor: pointer;
}

.reset-button:hover{
    opacity: 50%;
    transition: 0.2s;
}


.js-result-text {
    font-weight: bold;
}


/*Color Classes for result*/
.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: gold;
}


.hide {
    opacity: 0%;
    cursor:default;
    pointer-events: none;
}

.hide:hover{
    opacity: 0%;
}
