@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    background-color: black;
    text-align: center;
    margin-top: 15vh;
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
}

p{
    transition: 0.2s;
}

img {
    width: 50%;
    height: 50%;
    transition: 0.1s;
}

img:hover {
    transform: scale(1.1);
    transition: 0.1s;
    opacity: 50%;
}

.choice-button {
    border-radius: 50%;
    background-color:#343434;
    border: 0px;
    height: 17.5vh;
    width: 9vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.reset-button {
    border: 0px;
    border-radius: 25px;
    opacity: 100%;
    transition: 0.4s;

    background-color: white;
    color: #343434;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    font-family: 'Open Sans', sans-serif;
    font-size: 13pt;
    font-weight: bold;

    cursor: pointer;
}

.reset-button:hover{
    opacity: 50%;
    transition: 0.2s;
}


.js-result-text {
    font-weight: bold;
}

/*Color Classes for result*/
.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: gold;
}

.hide {
    opacity: 0%;
}